[user]
	name = Archie Lamb
	email = {{ .email }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub

[core]
	excludesfile = ~/.config/git/gitignore

[column]
	ui = auto

[init]
	defaultBranch = main

[fetch]
	prune = true
	pruneTags = true

[pull]
	rebase = false

[push]
    autoSetupRemote = true

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[gpg]
	format = ssh

[commit]
	gpgSign = true
	verbose = true

[diff]
	tool = vscode
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
