{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -Eeuxo pipefail
echo "Linux - Install Packages Dev Container - Start"

{{ if eq .osid "linux-bazzite" -}}
if [[ "$(echo -n 'Recreate Dev Container? [y/N]> ' >&2; read; echo $REPLY)" == [Yy]* ]] ; then
    echo "Recreating Arch Dev Container..."
    distrobox-stop --yes dev-arch || true
    distrobox-rm --yes dev-arch || true
fi

# Using --init & systemd since it's useful to be able to run services within the dev container (e.g. postgresql)
distrobox-create --yes --pull --image "quay.io/toolbx/arch-toolbox" --name "dev-arch" --init --additional-packages "systemd" || true

echo "Base Arch Setup"
distrobox enter dev-arch -- sudo bash -c '
    sed -i "s/#Color/Color/g" /etc/pacman.conf
    sed -i "s/#MAKEFLAGS=\"-j2\"/MAKEFLAGS=\"-j$(nproc)\"/g" /etc/makepkg.conf
    sed -i "s/-march=x86-64 -mtune=generic/-march=native -mtune=native/g" /etc/makepkg.conf
'

distrobox enter dev-arch -- bash -c '
    if ! command -v paru &> /dev/null; then
        echo "paru command not found. Setting up..."
        mkdir -p ~/Code

        if [ -d ~/Code/paru ]; then
            echo "Directory exists, pulling latest changes..."
            cd ~/Code/paru
            git pull
        else
            echo "Cloning paru repository..."
            git clone https://aur.archlinux.org/paru.git --single-branch ~/Code/paru
            cd ~/Code/paru
        fi

        makepkg -si --noconfirm
    else
        echo "paru is already installed and ready to go! Skipping."
    fi
'
echo "Installing Arch Packages..."
arch_packages=(
    # Core Tools
    curl
    git
    jq
    nano
    yq
    zsh

    # Programming Languages
    go
    ruby
    python
    rustup # Rust Version Manager
    # Databases
    duckdb
    postgresql
    sqlite
    # Programming Utilities
    actionlint
    clang
    cmake
    ninja
    ipython
    python-pipx
    python-poetry
    ruby-stdlib

    # AMD GPU
    # rocm-hip-runtime
    # rocm-opencl-runtime

    # Kubernetes Tooling
    cilium-cli
    k9s
    kubectl
    opentofu
    talosctl

    # Misc
    7zip
    android-tools
    bash
    bind # for dig
    btop
    ctop
    # ffmpeg
    git-lfs
    github-cli
    helm
    htop
    httpie
    imagemagick
    mediainfo
    neovim
    pacman-contrib
    pwgen
    qpdf
    ripgrep
    rsync
    rclone
    screen
    tokei # cloc alternative
    tldr
    tmux
    whois
    wget
    xsel # clipboard https://github.com/89luca89/distrobox/blob/main/docs/useful_tips.md#copy-text-to-host-clipboard
)
distrobox-enter dev-arch -- paru -R --noconfirm rust || true # Replacing with rustup
distrobox-enter dev-arch -- paru -S --noconfirm --needed "${arch_packages[@]}"

echo "Installing Arch AUR Packages..."
arch_aur_packages=(
    # Programming Languages
    dotnet-host-bin dotnet-sdk-bin
    fnm-bin # NodeJS Version Manager
    jdk21-jetbrains-bin

    # GUI Apps
    visual-studio-code-bin
    datagrip # JetBrains DB
    # intellij-idea-ultimate-edition # JetBrains Java IDE
    # pycharm-professional # JetBrains Python IDE
    # rider # JetBrains .NET IDE
    # webstorm # JetBrains JavaScript IDE
    # windscribe-v2-bin # vpn

    # Misc CLI
    helm-docs
    shellcheck-bin
    units
    xcaddy-bin
)
distrobox-enter dev-arch -- paru -S --needed "${arch_aur_packages[@]}"

echo "Configuring Packages..."
commands=(
    "sudo ln -s /usr/bin/distrobox-host-exec /usr/bin/podman || true"
    "sudo ln -s /usr/bin/distrobox-host-exec /usr/bin/podman-compose || true"
    "sudo ln -s /run/host/run/user/1000/kwallet5.socket /run/user/1000/kwallet5.socket || true"
    "sudo ln -s /run/host/run/user/1000/ssh-agent.socket /run/user/1000/ssh-agent.socket || true"

    # VSCode requires some extra environment variables to ensure it can access host secrets (for GitHub login - important for Copilot)
    "sudo sed -i '\\@/usr/bin/env XDG_RUNTIME_DIR@! s@/usr/bin/code@/usr/bin/env XDG_RUNTIME_DIR=\"/run/host/\${XDG_RUNTIME_DIR}\" DBUS_SESSION_BUS_ADDRESS=\"unix:path=/run/host/\$(echo \"\${DBUS_SESSION_BUS_ADDRESS}\" | cut -d '\\''='\\'' -f2-)\" /usr/bin/code@g' /usr/share/applications/code.desktop"
    "sudo sed -i '\\@/usr/bin/env XDG_RUNTIME_DIR@! s@/usr/bin/code@/usr/bin/env XDG_RUNTIME_DIR=\"/run/host/\${XDG_RUNTIME_DIR}\" DBUS_SESSION_BUS_ADDRESS=\"unix:path=/run/host/\$(echo \"\${DBUS_SESSION_BUS_ADDRESS}\" | cut -d '\\''='\\'' -f2-)\" /usr/bin/code@g' /usr/share/applications/code-url-handler.desktop"

    # code-url-handler is automatically included when exporting code
    "distrobox-export --app code"
    "distrobox-export --app nvim"
    "distrobox-export --app datagrip"
    # "distrobox-export --app intellij-idea-ultimate-edition"
    # "distrobox-export --app rider"
    # "distrobox-export --app webstorm"
    "distrobox-export --bin /usr/bin/code"
    "distrobox-export --bin /usr/bin/gh"

    "sed -i '\\@/usr/bin/env XDG_RUNTIME_DIR@! s@'\\''/usr/bin/code'\\''@/usr/bin/env XDG_RUNTIME_DIR=\"/run/host/\${XDG_RUNTIME_DIR}\" DBUS_SESSION_BUS_ADDRESS=\"unix:path=/run/host/\$(echo \"\${DBUS_SESSION_BUS_ADDRESS}\" | cut -d '\\''='\\'' -f2-)\" /usr/bin/code@g' ~/.local/bin/code"

    "sudo chsh -s /usr/bin/zsh $USER"
    "sudo su -l postgres -c \"initdb --locale=C.UTF-8 --encoding=UTF8 -D '/var/lib/postgres/data'\" || true"

    "rustup default stable"
    "sudo archlinux-java set java-21-jetbrains"

    "pipx install mnamer"
    "pipx install yt-dlp"

    'mkdir -p ".config/JetBrains/DataGrip$(pacman -Q datagrip | cut -d " " -f 2 | cut -c1-6)"'
    'mkdir -p ".config/JetBrains/IntelliJIdea$(pacman -Q intellij-idea-ultimate-edition | cut -d " " -f 2 | cut -c1-6)"'
    'mkdir -p ".config/JetBrains/Rider$(pacman -Q rider | cut -d " " -f 2 | cut -c3-8)"'
    'mkdir -p ".config/JetBrains/WebStorm$(pacman -Q webstorm | cut -d " " -f 2 | cut -c1-6)"'
    'echo "/usr/lib/jvm/java-21-jetbrains" > ".config/JetBrains/DataGrip$(pacman -Q datagrip | cut -d " " -f 2 | cut -c1-6)/datagrip.jdk"'
    # 'echo "/usr/lib/jvm/java-21-jetbrains" > ".config/JetBrains/IntelliJIdea$(pacman -Q intellij-idea-ultimate-edition | cut -d " " -f 2 | cut -c1-6)/idea.jdk"'
    # 'echo "/usr/lib/jvm/java-21-jetbrains" > ".config/JetBrains/Rider$(pacman -Q rider | cut -d " " -f 2 | cut -c3-8)/rider.jdk"'
    # 'echo "/usr/lib/jvm/java-21-jetbrains" > ".config/JetBrains/WebStorm$(pacman -Q webstorm | cut -d " " -f 2 | cut -c1-6)/webstorm.jdk"'
)
for command in "${commands[@]}"; do
    distrobox-enter dev-arch -- bash -c "$command"
done

{{ else -}}
echo "Not recognised OS, purposefully failling"
exit 1
{{ end -}}

echo "Linux - Install Packages Dev Container - End"
{{ end -}}
