{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -Eeuxo pipefail
echo "Mac - Install Packages - Start"

# Brewfile hash: {{ include "setup/mac/Brewfile" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "setup/mac/Brewfile" }}

{{ if eq .ownerType "work" -}}
# Brewfile.work hash: {{ include "setup/mac/Brewfile.work" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.sourceDir "setup/mac/Brewfile.work" }}
{{ end -}}

# Create the Applications directory if it doesn't exist
mkdir -p ~/Applications

echo "Mac - Install Packages - End"
{{ end -}}
