{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
set -Eeuxo pipefail
echo "Unix Based - Common - Start"

{{ if or (eq .hostType "laptop") (eq .hostType "desktop") -}}
# Make code directory if needed and link dotfiles to it
mkdir -p ~/Code
if [ ! -d ~/Code/dotfiles ]; then
  ln -s {{ .chezmoi.sourceDir }} ~/Code/dotfiles
fi
chmod -R o-rwx ~/Code
{{ end -}}

# Create directories that we set in zshrc (and chezmoi doesn't manage anything in them)
mkdir -p ~/.local/bin ~/.local/state # XDG Base Directory Specification

# Install fzf
~/.config/zsh-addons/fzf/install --xdg --bin

# Potentially Manual Steps Below
if [ ! -f ~/.ssh/id_ed25519 ]; then
  echo "Generating SSH Key, make sure to set a passphrase"
  ssh-keygen -t ed25519 -C "$(whoami)@$(hostname)" -f ~/.ssh/id_ed25519
  gh config set git_protocol ssh
  gh auth login -p ssh -h github.com
fi

echo "Unix Based - Common - End"
{{ end -}}
