{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -Eeuxo pipefail
echo "Linux - Install Packages - Start"

{{ if eq .osid "linux-bazzite" -}}
echo "Installing Flatpaks..."
flatpaks=(
  # Browsers
  org.mozilla.firefox
  com.google.Chrome
  com.microsoft.Edge
  org.gnome.Epiphany # Gnome Web - WebKit based (Safari)

  # Utilities
  com.bitwarden.desktop
  com.github.wwmm.easyeffects
  org.pipewire.Helvum
  com.github.tchx84.Flatseal
  io.missioncenter.MissionCenter
  org.jdownloader.JDownloader

  # Media
  com.spotify.Client
  io.mpv.Mpv

  # Development
  com.jgraph.drawio.desktop
  io.podman_desktop.PodmanDesktop

  # Communication
  us.zoom.Zoom
  com.discordapp.Discord

  # Games
  io.mrarm.mcpelauncher
  net.davidotek.pupgui2 # ProtonUp-QT
  org.prismlauncher.PrismLauncher
)
flatpak install flathub "${flatpaks[@]}"

{{ else -}}
echo "Not recognised OS, purposefully failling"
exit 1
{{ end -}}

echo "Linux - Install Packages - End"
{{ end -}}
