{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -Eeuxo pipefail
echo "Mac - Configure - Start"

# Enable Auto Dark Mode
defaults write -g AppleInterfaceStyleSwitchesAutomatically -bool true

# Standard dock icon size
defaults write com.apple.dock tilesize -int 62
# On hover what size the dock icons increase to
defaults write com.apple.dock largesize -int 72
# Apply changes
killall Dock

defaults write com.googlecode.iterm2 PrefsCustomFolder -string "$HOME/.local/share/chezmoi/setup/mac"

# Disable display brightness hotkeys
/usr/libexec/PlistBuddy -c "Set :AppleSymbolicHotKeys:53:enabled false" ~/Library/Preferences/com.apple.symbolichotkeys.plist
/usr/libexec/PlistBuddy -c "Set :AppleSymbolicHotKeys:54:enabled false" ~/Library/Preferences/com.apple.symbolichotkeys.plist

echo "Mac - Configure - End"
{{ end -}}
