export VAULT_ADDR={{ .vaultAddr | quote}}

{{ if eq .chezmoi.os "darwin" -}}
source $XDG_CONFIG_HOME/zsh-addons/iterm2-shell-integration.zsh

# Use some GNU utils instead of the default BSD ones
alias find="gfind"
alias grep="ggrep --color=auto"
alias units="gunits"

path+=(
  /opt/homebrew/opt/postgresql@16/bin
)
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
# Linux-specific keybinds
# Ctrl+Left & Right Arrow
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
# Alt+Left & Right Arrow
bindkey "^[[1;3C" forward-word
bindkey "^[[1;3D" backward-word

# Linuxbrew (Not using 'brew shellenv' as want OS utils preferred)
if [[ -d /home/linuxbrew/.linuxbrew ]]; then
  export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
  export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar"
  export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew"
  export MANPATH="${MANPATH}/home/linuxbrew/.linuxbrew/share/man:"
  export INFOPATH="${INFOPATH:-}/home/linuxbrew/.linuxbrew/share/info:"
  path+=(
    /home/linuxbrew/.linuxbrew/bin
    /home/linuxbrew/.linuxbrew/sbin
  )
fi
{{ end -}}

{{ if eq .ownerType "personal" -}}
alias mediaformat='mnamer --episode-format "{series}/Season {season}/S{season:02}E{episode:02} {title}{extension}" --movie-format "{name} [{year}]/{name} [{year}]{extension}"'
{{ else if eq .ownerType "work" -}}
alias aws-auth='aws-azure-login --mode=gui --no-prompt'
{{ end -}}

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
{{ end -}}
